<div class="page-container">
    <div class="page-per-item" (click)="setShowItem()">
        <div class="page-item-label">Page Per Item:</div>
        <div class="page-item">
            <div class="item-no">{{currentPage}}</div>
            <div><i class="drop-arrow down"></i></div>
            <div *ngIf="showOptions" class="items">
                <ul>
                    <li (click)="setCurrentPage(1)">10</li>
                    <li (click)="setCurrentPage(2)">20</li>
                    <li (click)="setCurrentPage(3)">30</li>
                    <li (click)="setCurrentPage(4)">40</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="current-page">Page 1 of 4</div>
    <div class="lt"><i class="arrow left"></i></div><div class="gt"><i class="arrow right"></i></div>
</div>
