<div class="page-container">
    <div class="page-per-item" (click)="setShowItem()">
        <div class="page-item-label">Page Per Item:</div>
        <div class="page-item">
            <div class="item-no">{{currentTasks}}</div>
            <div><i class="drop-arrow down"></i></div>
            <div [ngClass]="showOptions ? 'item-fadeIn' : 'item-fadeOut'" class="items">
                <ul>
                    <li *ngFor="let items of numberOfPages; index as i" 
                        (click)="currentPageSelected(i+1)">
                        {{items}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="current-page">Page {{currentPage}} of {{totalPages}}</div>
    <div class="lt" (click)="currentPageSelected(currentPage-1)">
        <i [ngClass]="currentPage > 1 ? 'arrow left' : 'arrow-disabled left'"></i>
    </div>
    <div class="gt" (click)="currentPageSelected(currentPage+1)">
        <i [ngClass]="currentPage < totalPages ? 'arrow right' : 'arrow-disabled right'"></i>
    </div>
</div>
