<form [formGroup]="formGroup" #formDir="ngForm">    
    <div class="form-container">
        <div class="form-row">
            <label class="form-label" for="scheduleName">Schedule</label>
            <input type="text" 
                    id="scheduleName" 
                    name="scheduleName" 
                    placeholder="Schechule name"
                    formControlName="scheduleName"
                    required/>
        </div>
        <div *ngIf="scheduleName.invalid && (scheduleName.dirty || scheduleName.touched)"
              class="alert">
            <div *ngIf="scheduleName?.errors['required']">
              Schedule name is required.
            </div>
            <div *ngIf="scheduleName?.errors['minlength']">
              Schedule name must be at least 4 characters long.
            </div>
        </div>
        <div class="form-row">
            <label class="form-label" for="time">Time</label>
            <input type="date" id="time" name="time" formControlName="time"/>
        </div>
        <div *ngIf="time.invalid && (time.dirty || time.touched)"
              class="alert">
            <div *ngIf="time?.errors['required']">
              Schedule Time is required.
            </div>
        </div>
        <div class="form-submit">
            <button class="btn" [disabled]="formGroup.invalid" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</form>
