<div class="container">
    <div class="header">
        <h1>Task Manager</h1>
        <button class="btn" (click)="addTask()">Add</button>
    </div>
    <app-task-form *ngIf="isShowAddTask" (taskEvent)="insertTask($event)"></app-task-form>
    <div>
        <div class="task-list-header"><h3>Schedule List</h3></div>
        <div class="task-list">
            <app-task *ngFor="let task of tasks" [task]="task" (deleteEvent)="deleteTask($event)"></app-task>
        </div>
        <app-paginator 
            [currentPage]="currentPage" 
            [pageSize]="pageSize"
            [numberOfPages]="numberOfPages"
            (currentPageEvent)="currentPageChanged($event)"></app-paginator>
    </div>
</div>